:host {
    display: block;
}

.permissions-section {
    margin-top: 1rem;
}

.module {
    margin-bottom: 1rem;
}

.category {
    margin-bottom: 0.5rem;
}

.permission {
    margin-bottom: 0.25rem;
}
